asgiref==3.2.10
Django==3.0.12
environs==7.3.1
marshmallow==3.8.0
numpy==1.18.5
python-dateutil==2.8.1
python-dotenv==0.14.0
pytz==2020.1
ruamel.yaml==0.16.10
ruamel.yaml.clib==0.2.0
scipy==1.4.1
scos_actions @ git+https://github.com/NTIA/scos-actions@master#egg=scos_actions
SigMF @ git+https://github.com/NTIA/SigMF.git@multi-recording-archive#egg=SigMF-0.0.2beta
six==1.15.0
sqlparse==0.3.1
