{
    "calibration_datetime": "2019-09-20T02:03:38.967055Z",
    "calibration_data": {
        "sample_rates": [
            {
                "calibration_data": {
                    "frequencies": [
                        {
                            "calibration_data": {
                                "gains": [
                                    {
                                        "calibration_data": {},
                                        "gain": 40.0
                                    },
                                    {
                                        "calibration_data": {},
                                        "gain": 60.0
                                    }
                                ]
                            },
                            "frequency": 1000000000.0
                        },
                        {
                            "calibration_data": {
                                "gains": [
                                    {
                                        "calibration_data": {},
                                        "gain": 40.0
                                    },
                                    {
                                        "calibration_data": {},
                                        "gain": 60.0
                                    }
                                ]
                            },
                            "frequency": 2000000000.0
                        }
                    ]
                },
                "sample_rate": 10000000.0
            }
        ]
    },
    "calibration_frequency_divisions": [],
    "clock_rate_lookup_by_sample_rate": [
        {
            "sample_rate": 10000000.0,
            "clock_frequency": 40000000.0
        }
    ],
    "sensor_uid": "DEFAULT"
}
